body {
  background-color: #16174A;
}

header h1 {
  color: #f2f2f2;
  font-family: "PurplePurse-Regular";
  font-size: 40px;
  font-weight: bold;
  margin: 50px;
} 

nav {
  overflow: hidden;
  background-color: #16174A;
  width: 100%;
  height: 100%;
}
  
nav a {
  color: #f2f2f2;
  font-size: 20px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none; 
}

nav h1 {

}



#image {
  width: 50%;
  /* height: 600px;  */
  border: 1px solid black;
 
 
}

.about-me {
 width: 50% ;
 padding: 5px;
 border: 1px solid black;
}


#me {

}

#presentation {

}

.jaune {
  display: flex;
  flex-direction: row;
  background-color: #E1D100;


}

.avatar {
  height:100% ;
  width: 200%;
}